<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(~{::body})}">
<head>
	<title>Panel de Administración - Ecoembes</title>
</head>
<body>

<div class="fh5co-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Panel de Administración</h2>
				<p>Selecciona una opción para continuar</p>
			</div>
		</div>

		<div class="row" style="margin-top: 40px;">
			<div class="col-md-4">
				<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
					<div class="fh5co-text">
						<h3>Asignar Contenedor</h3>
						<p>Asigna contenedores específicos a las jornadas de trabajo del personal.</p>
						<p><a th:href="@{/jornada/asignacion}" class="btn btn-primary">Ir a Asignación</a></p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
					<div class="fh5co-text">
						<h3>Buscar Contenedores por Fecha</h3>
						<p>Consulta el historial de contenedores en un rango de fechas determinado.</p>
						<p><a th:href="@{/ecoembes/contenedor/fecha}" class="btn btn-primary">Buscar Contenedores</a></p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
					<div class="fh5co-text">
						<h3>Capacidades de Plantas</h3>
						<p>Consulta las capacidades disponibles en las plantas de reciclaje por fecha.</p>
						<p><a th:href="@{/ecoembes/jornada/capacidades}" class="btn btn-primary">Ver Capacidades</a></p>
					</div>
				</div>
			</div>
            <div class="col-md-4">
                <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                    <div class="fh5co-text">
                        <h3>Buscar Contenedores por Zona</h3>
                        <p>Consulta el historial de contenedores en una determinada dirección.</p>
                        <p><a th:href="@{/ecoembes/contenedor/zona}" class="btn btn-primary">Buscar Contenedores</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                    <div class="fh5co-text">
                        <h3>Crear Nuevo Contenedor</h3>
                        <p>Crear nuevo contenedor con una ubicacion un código postal y un capacidad maxima.</p>
                        <p><a th:href="@{/ecoembes/contenedor/crear}" class="btn btn-primary">Crear Nuevo Contenedor</a></p>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>

</body>
</html>
