<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: layout(~{::section})}">
<head>
    <title>Iniciar Sesión</title>
</head>
<body>

<section>
    <br>
    <h1> Inicio de sesión </h1>
    <form th:action="@{/login}" th:object="${empleado}" method="post">
        <input type="text" th:field="*{correo}" placeholder="Correo" />
        <input type="password" th:field="*{contrasena}" placeholder="Contraseña" />
        <button type="submit">Entrar</button>

        <p th:if="${error}" th:text="${error}" style="color:red"></p>
    </form>
    <br>
</section>

</body>
</html>




