<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio de sesión.</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
    <form th:action="@{/login}" th:object="${empleado}" method="post">
        <input type="text" th:field="*{correo}" placeholder="Correo" />
        <input type="password" th:field="*{contrasena}" placeholder="Contraseña" />
        <button type="submit">Entrar</button>

        <p th:if="${error}" th:text="${error}" style="color:red"></p>
    </form>
</body>
</html>
